ul {
    list-style:none;
}
nav {
    font-size: 1.5rem;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:0px 20px;
    height:100px;
    background-color: #ffffff;
    color:rgb(0, 0, 0);
    transition: height 0.3s ease;
}
nav ul li{
    display:inline;
    margin:10px;
}
nav ul li a{
    text-decoration: none;
    padding:35px 50px;
    font-family: "Montserrat";
    transition: 0.3s ease;
    color:#000000;
}
nav ul li a:hover{
    background-color: #000000;
    color:#ffffff;
}
.container{
    display:none;
    cursor:pointer;
    transition:0.3s ease;
}
.container .bar{
    width: 25px;
    height: 3px;
    background:#000000;
    margin:5px 0px;
    transition: 0.4s ease;
}
#navsearch{
    padding:0px 10px;
    border-radius: 50px;
    height:40px;
    border:solid 2px #474747;
    transition: 0.3s ease;
}
.change {
    transform: translateY(-5px);
    transition: 0.3s ease;
}
.change #bar1{
    transform: translate(0, 11px) rotate(-45deg);
}
.change #bar2{
    opacity: 0;
}
.change #bar3{
    transform: translate(0, -5px) rotate(45deg);
}
@media only screen and (max-width: 1006px){
    #navsearch{
        display:none;
    }
}
@media only screen and (max-width: 792px){
    .nav-links{
        display:none;
    }
    nav{
        height: 75px;
    }
    .container{
        display:block;
        position: absolute;
        right: 0px;
        padding: 0px 20px;
    }
}
@media only screen and (min-width: 792px){
    #logotext{
        display: none;
    }
    #MDLogo {
        height:75px;
    }
}