:root{
    --light-accent: #861313;
    --light-background: #fff9e5;
    --light-primary: #3cbe70;
    --light-secondary: #7eaefb;
    --light-text:#1c1c1c;

}
@font-face {
    font-family: Montserrat;
    src: url(./font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Lora;
    src: url(./font/Lora-VariableFont_wght.ttf);
}
@font-face {
    font-family: Hind Siliguri;
    src: url(./font/HindSiliguri-Regular.ttf);
}
* {
    font-family: "Montserrat";
}
body {
    margin:0px;
    padding:0px;
}
#section1 {
    font-size: 5vw;
    text-align: left;
    line-height: 1px;
    display:flex;
    align-items:center;
    justify-content: left;
    background: linear-gradient(var(--light-primary) 80%, var(--light-secondary) 100%);
    color:#fefefe;
    height:25rem;
    transition: height 0.3s ease;
    overflow-x:hidden ;
    padding:50px;
}
#sec1cont {
    transform: translateY(-50px);
    line-height: 0.1rem;
    text-shadow: 4px 4px 5px #00000033;
}
#searchbar {
    border-radius: 50px;
    padding:0px 10px;
    border: solid 2.9px #000000;
}

/* Wave transition */
#wave1{
    position:absolute;
    bottom:0;
    left:0;
    transform: translateY(7rem);
    transition:0.3 ease;
}
#section2 {
    height:10rem;
}
@media only screen and (max-width: 792px) {
    #section1 {
        height:15rem;
    }
    #wave1{
        transform:translateY(-1rem)
    }
  }