:root{
    --celestial-blue: #1694e1ff;
    --engineering-orange: #c80808ff;
    --pakistan-green: #004b06ff;
    --mountbatten-pink: #8c718cff;
    --brunswick-green: #084231ff;
    --mahogany: #c14b03ff;
    --brown: #975326ff;
    --auburn: #ab2836ff;
    --fire-brick: #b43130ff;
    --rust: #b84d23ff;
}
@font-face {
    font-family: Montserrat;
    src: url(./font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Lora;
    src: url(./font/Lora-VariableFont_wght.ttf);
}
@font-face {
    font-family: Hind Siliguri;
    src: url(./font/HindSiliguri-Regular.ttf);
}
* {
    font-family: "Montserrat";
}
body {
    margin:0px;
    padding:0px;
    overflow-x:hidden;
}
ul {
    list-style:none;
}
nav {
    font-size: 1.5rem;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:0px 20px;
    height:100px;
    background-color: var(--brunswick-green);
    color:beige;
}
nav ul li{
    display:inline;
    margin:10px;
}
nav ul li a{
    text-decoration: none;
    padding:35px 50px;
}
nav ul li a:hover{
    background-color: #fefefe;
}
#section1 {
    font-size: 3vw;
    text-align: center;
    border:solid 1px red;
    line-height: 1px;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #5f5f5f;
    color:#fefefe;
    height:30rem;
}
input[type="text"]{
    border-radius:100px;
    padding:0px 10px;
}
.hamburger{
    display:list-item;
    margin:5px;
    background-color: #fefefe;
    height:3px;
    width:2rem; 
}
@media only screen and (max-width: 792px) {
    nav ul li a{
        display:none;
    }
    #section1 {
        font-size: 5vw;
    }

  }